<div class="sidebar active" id="sidebar">
    <img src="/images/SCS2.png" alt="Menu Logo" style="width: 150px;height:50px; padding: 10px;" />
      <script src="../js/PageOnInit.js"></script>
    {{!-- <ul>
        <li><a href="inbox"><i class="fa fa-home"></i>Inbox</a></li>
        <li><a href="/views/HomePage"><i class="fa fa-home"></i>Home</a></li>
        
        <li><a href="/views/LandingPage.html"><i class="fa fa-bar-chart fa-fw"></i><span class="menuname">Dashboard</span></i></a></li>
        <li>
            <a href="javascript:void(0)"><i class="fa fa-truck"></i><span class="menuname">Suppliers</span><span class="arrow">></span></a>
            <ul class="submenu">
                <li><a href="/views/VendorRegisteration.htm"><i class="fa fa-truck"></i><span class="menuname">Supplier Registeration</span></a></li>
                <li><a href="/views/VendorList.htm"><i class="fa fa-truck"></i><span class="menuname">Supplier List</span></a></li>
            </ul>
        </li>
        
        <li>
            <a href="javascript:void(0)"><i class="fa fa-cubes"></i><span class="menuname">Material</span><span class="arrow">></span></a>
            <ul class="submenu">
                <li><a href="/views/InsertMaterial.htm"><i class="fa fa-cubes"></i><span class="menuname">Create Material</span></a></li>
                <li><a href="/views/MaterialList.htm"><i class="fa fa-cubes"></i><span class="menuname">Material List</span></a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)"><i class="fa fa-shopping-bag"></i><span class="menuname">Sales Orders</span><span class="arrow">></span></a>
            <ul class="submenu">
                <li><a href="create-sales-order.html"><i class="fa fa-shopping-bag"></i><span class="menuname">Create Sales Order</span></a></li>
                <li><a href="sales-order-list.html"><i class="fa fa-shopping-bag"></i><span class="menuname">Sales Order List</span></a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)"><i class="fa fa-shopping-cart"></i><span class="menuname">Purchase Orders</span><span class="arrow">></span></a>
            <ul class="submenu">
                <li><a href="PurchaseOrder.html"><i class="fa fa-shopping-cart"></i><span class="menuname">Create Purchase Order</span></i></a></li>
                <li><a href="purchase-order-list.html"><i class="fa fa-shopping-cart"></i><span class="menuname">Purchase Order List</span></a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)"><i class="fa fa-user"></i><span class="menuname">Users</span><span class="arrow">></span></a>
            <ul class="submenu">
                <li><a href="user-list.html"><i class="fa fa-user"></i><span>User List</span></a></li>
                <li><a href="create-user.html"><i class="fa fa-user"></i><span>Create User</span></a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)"><i class="fa fa-tag"></i><span class="menuname">Buyers</span><span class="arrow">></span></a>
            <ul class="submenu">
                <li><a href="/getUserList"><i class="fa fa-tag"></i><span>Buyers List</span></a></li>
            </ul>
        </li>
    </ul> --}}
    <ul></ul>
</div>
{{!-- <script>
    document.addEventListener("DOMContentLoaded", function () {
    const sidebar = document.getElementById("sidebar").querySelector("ul");
    // const role = getCookie('userRole'); // Retrieve role from cookies, if necessary

    function decodeJwt(token) {
  const base64Url = token.split('.')[1]; // Get payload
  const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/'); // URL-safe Base64 decode
  const jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
    return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
  }).join(''));
  return JSON.parse(jsonPayload);
 }
 let token=localStorage.getItem('admintoken')

 let decodeToken=decodeJwt(token)

    // Check for cached menu data
    const cachedMenus = JSON.parse(sessionStorage.getItem('cachedMenus'));
    const cacheTimestamp = sessionStorage.getItem('cacheTimestamp');
    const cacheDuration = 60 * 60 * 1000; // Cache duration: 1 hour

    if (cachedMenus && cacheTimestamp && (Date.now() - cacheTimestamp < cacheDuration)) {
        // Load menus from cache if available and not expired
        loadMenus(cachedMenus);
    } else {
        // Fetch menu data from API with custom headers and store it in sessionStorage
        fetch('/permission', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer YOUR_ACCESS_TOKEN',
                'Role': 'admin',
                'User':decodeToken.user
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error("Network response was not ok: " + response.statusText);
            }
            return response.json();
        })
        .then(data => {
            console.log('data',data)
            const menus = data.menus;

            // Cache the menu data and timestamp
            sessionStorage.setItem('cachedMenus', JSON.stringify(menus));
            sessionStorage.setItem('cacheTimestamp', Date.now().toString());

            // Load menus from the fetched data
            loadMenus(menus);
        })
        .catch(error => console.error("Error fetching menu data:", error));
    }

    // Function to dynamically create the sidebar menu items
    function loadMenus(menus) {
        sidebar.innerHTML = ''; // Clear any existing menu items

        menus.forEach(menu => {
            const li = document.createElement("li");
            const link = document.createElement("a");
            link.href = menu.url;
     

            link.innerHTML = `<i></i><span class="menuname">${menu.name}</span>`;

            if (menu.subMenus && menu.subMenus.length > 0) {
                link.href = "javascript:void(0)";
                link.innerHTML += '<span class="arrow">></span>';
                li.appendChild(link);

                const subMenu = document.createElement("ul");
                subMenu.classList.add("submenu");
                subMenu.style.display = "none"; // Hide submenu initially

                menu.subMenus.forEach(sub => {
                    const subLi = document.createElement("li");
                    const subLink = document.createElement("a");
                    const iconElem=document.createElement("i");
                    const iconClasses = sub.icon.split(" ");
iconElem.classList.add(...iconClasses);
                    subLink.href = sub.url;
                    subLink.innerHTML = `<i class="${iconClasses.join(' ')}"><i><span>${sub.name}</span>`;
                    
                        subLi.appendChild(subLink);
                    subMenu.appendChild(subLi);

                });

                li.appendChild(subMenu);

                // Toggle submenu visibility on arrow click
                link.querySelector(".arrow").addEventListener("click", function (e) {
                    e.preventDefault();
                    subMenu.style.display = subMenu.style.display === "none" ? "block" : "none";
                    this.classList.toggle("open");
                });
            } else {
                li.appendChild(link);
            }

            sidebar.appendChild(li);
        });
    }


});

      enableSubmenus()
</script> --}}