<!DOCTYPE html>



<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/form.css">

</head>
<body>
    
    <div class="main-content">
   
        <div class="content">
    <form method="POST" id="passwordForm">  
      
     
        <div class="container">
            <label for="newToken">New Password</label>
            <input type="text" name="newToken"  id="newToken"  required>

            <label for="repeatToken">Repeat Password</label>
            <input type="text" name="repeatToken" id="repeatToken"  required>
            <p id="msg"></p>
        </div>
       
        <input type="submit">
    </form>
   
        </div>
    </div>

    <script>
       
          document.getElementById('passwordForm').addEventListener('submit', function(event) {
            event.preventDefault();
            var p1 = document.getElementById('newToken').value;
            var p2 = document.getElementById('repeatToken').value;
            var msg = document.getElementById('msg');

            if (p1 !== p2) {
           
                msg.textContent = 'Passwords does not match';
                msg.style.color='red'
            } else {
                msg.textContent = '';
                let token=localStorage.getItem('resetToken')

let decodeToken=decodeJwt(token)
console.log(decodeToken)

console.log('decoe',decodeToken)
fetch('/admin/setPassword', {
    method: 'POST',
    headers: { 'Content-Type': 'application/json'
                           
},
    body: JSON.stringify({'email':decodeToken.email,'newToken':p1}),
})
    .then((response) => {   msg.textContent = 'data sent'})
            }

         


            function decodeJwt(token) {
  const base64Url = token.split('.')[1]; // Get payload
  const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/'); // URL-safe Base64 decode
  const jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
    return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
  }).join(''));
  return JSON.parse(jsonPayload);
 }

        });
        
 
    </script>
   
  

</body>
</html>
