
<!-- This is the content that will be loaded dynamically -->
<div style="text-align: center; margin-top: 50px;">
    <h1>403 Forbidden</h1>
    <p>You do not have permission to view this page.</p>
  </div>
  