<!-- Alert Popup -->
<div id="alertPopup" class="modern-popup hidden">
    <div class="popup-content alert">
        <div class="popup-icon">
            <i class="fa fa-exclamation-triangle"></i>
        </div>
        <h3>Alert</h3>
        <p id="alertMessage">This is an important alert!</p>
        <button class="popup-btn" onclick="closePopup('alertPopup')">OK</button>
    </div>
</div>