<div id="confirmPopup" class="modern-popup hidden">
    <div class="popup-content confirm">
        <div class="popup-icon">
            <i class="fa fa-question-circle"></i>
        </div>
        <h3>Confirm</h3>
        <p id="confirmMessage">Are you sure?</p>
        <button class="popup-btn confirm-btn" onclick="onConfirm()">Yes</button>
        <button class="popup-btn cancel-btn" onclick="closeGeneralPopup('confirmPopup')">No</button>
    </div>
</div>