<div id="errorPopup" class="modern-popup hidden">
    <div class="popup-content error">
        <div class="popup-icon">
            <i class="fa fa-exclamation-circle"></i>
        </div>
        <h3>Error</h3>
        <p id="errorMessage">Something went wrong!</p>
        <button class="popup-btn" onclick="closePopup('errorPopup')">OK</button>
    </div>
</div>