<div class="dialog-container">
    <div class="modal_container">
        <div class="modal_heading">
            <h4>Download Data</h4>
        </div>
        <div class="body">
            <p>Download as Excel file?</p>
            <!-- <img alt="Excel Icon" width="30" src=""> -->
        </div>
        <div class="footer">
            <button class="footer_btn_primary">Download</button>
            <button class="close-Excel-pop" onclick="closeExcelpopup()">Close</button>
        </div>
    </div>
</div>