<div class="filter-popup" id="filter-popup">

    <button class="close-filter" onclick="closeFilter()">X</button>
<div class="filter-content-left" id="filter-content-left"><p>left part</p></div>
<div class="filter-content-right" id="filter-content-right"><p>right part</p></div>
</div>

