<div class="layout-popup" id="layoutPopup">
    <div class="layout-option" onclick="changeLayout('default')">Default Rows</div>
    <div class="layout-option" onclick="changeLayout('compact')">Compact Rows</div>
    <div class="layout-option" onclick="changeLayout('card')">Card Layout</div>
</div>