<div class="wfsidebar" id="wfsidebar">
    <button class='wf-closebtn' onclick="closeWf()">X</button>
    
        <div class="wfsidebar-header">
            <h2>Workflow</h2>
             <button class="button approve" value="Approve">Approve</button>
    <button class="button reject"  value="Reject">Reject</button>
        </div>
        <div class="workflowLog" id="workflowLog">
            <!-- Workflow steps will be inserted here dynamically -->
        </div>
</div>